.floating-box {
    display: inline-block;
    width: 170px;
    height: 170px;
    margin: 10px;
    padding-left: 20px;
    border: 3px solid #000080;  
}

.floating {
    width: 170px;
    height: 300px;
    margin: 10px;
    padding-left: 20px;
    border: 3px solid #000080;  
}

.after-box {
    border: 3px solid red; 
}

.top-space{
    margin-top: 80px;
}

.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

