<div class = "container">
    <div class="row" style="padding-top:35px;">
      <h2>Welcome {{userName}}</h2>
    </div>
	<div class="row">
    <div class="col top-space">
        <div class="row">
            <div class="floating center">
              <h6 class="card-subtitle mb-2 text-muted">Vending Machine 1</h6>         
              <ul>
                <li *ngFor="let spiral of vending_1">
                  On spiral {{ spiral.spiralId }} , {{spiral.remaining}} is remaining on {{spiral.max}}
                </li>
              </ul>
            </div>
            <div class="floating center">
                <h6 class="card-subtitle mb-2 text-muted">Vending Machine 2</h6>   
              <ul>
                <li *ngFor="let space of vending_2" [ngStyle]="{'color': space.isOccupied == true ? 'red' : '' }">
                  Space {{ space.spaceId }} , is {{space.isOccupied | spaceAvailability}}
                </li>
              </ul>
            </div>
        </div>
        <div class="row">
            <div class="floating-box" *ngFor="let storage of storages">
              <h6 class="card-subtitle mb-2 text-muted" style="padding-top:15px;">Storage {{storage.storageId}}</h6> 
              <div *ngIf="storage.isOccupied;then content else elseBlock"></div>
              <ng-template  #content> <span class="redText">This storage is not available</span></ng-template>
              <ng-template #elseBlock>This storage is available</ng-template>
              <p *ngIf="storage.canTempControl" style="color:green;">temperature : {{storage.temperature}} &deg;C</p>
              <br>
              <button (click)="reserveStorage(storage.storageId)" *ngIf="!storage.isOccupied" type="button" class="btn btn-success" style="margin-top:10px;">
                Reserve
              </button>
            </div>
        </div>
    </div>
	</div>
</div>